$logo-font: "Open Sans", Lato, Roboto, "SF UI Display", "Segoe UI", "Helvetica Neue", Lato, Arial, sans-serif;
$header-font:Roboto, "Open Sans", "SF UI Display", "Segoe UI", "Helvetica Neue", Lato, Arial, sans-serif;
$body-font:  Roboto, "Open Sans", "Helvetica Neue", "SF UI Text", Lato, Arial, sans-serif;

$header-padding: 16px;
$header-mac-margin-bottom: $header-padding+55px;

%maincol {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 56em;
    // must overflow
    @media (min-width: 1700px) {
        max-width: 66em;
    }
}

%button {
    text-shadow: 0 1px 0 rgba(0,0,0,0.7);
    text-align: center;
    display: block;
    font-weight: normal;
    color: white;
    border-radius: 3px;
    text-decoration: none;

    padding: 1px 1.5em 1px;
    line-height: 2.9;
    @media (max-width: 600px) {
        padding: 1px 1em 1px;
        line-height: 2.8;
    }
    border: 1px solid rgba(#fff, 0.5);
    &:hover {
        background: rgba(#000, 0.1);
        box-shadow: inset 1px 2px 4px rgba(#000,0.13);
    }
    &:active {
        padding-top: 2px;
        padding-bottom: 0;
    }
}
