.kornel {
    font-family: Helvetica, sans-serif; // ń
}
#footer {
    clear: both;
    margin: 2em 0 0;
    background: #150622;
    color: #fff;
    overflow: hidden;
    a, span {
        white-space: nowrap;
    }
    a {
        color: #fff;
        text-decoration: underline;
        &:hover {
            color: #aaf;
        }
    }
    > div {
        @extend %maincol;
    }
}
#newsletter + #footer {
    margin-top: 0;
}
