
#features {
    @extend %maincol;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    > section {

        min-width: 15em;
        padding: 0 1em 1em;
        @media (max-width: 600px) {
            padding-right: 0.5em;
        }
        @media (min-width: 600px) {
            flex: 1 15em; /* 15em is Safari bug */
        }
        strong {
            font-family: inherit;
            font-weight: 500;
            white-space: nowrap;
        }
    }
    h2 {
        margin: 0 0 .5em;
        font-size: 1.3em;
        color: #666;
        @media (min-width: 600px) {
            white-space: nowrap;
        }
    }
}

///// newsletter

body > #newsletter {
    clear: both;
    margin: 2em 0 0;
    padding: 0 0 1em;
    overflow: hidden;
    background: #557;
    text-shadow: 0 1px 0 #224;
    color: white;
    a {
        text-decoration-color: currentColor;
        &:hover {
            color: #bbf;
        }
    }
    > form {
        @extend %maincol;
    }
    input {
        font-size: inherit;
    }
    [type=email] {
        width: 13em;
        max-width: 66%;
    }
    [type=submit] {
        background: #779;
        color: white;
        border: 1px solid rgba(#fff,.25);
        border-radius: 3px;
        text-shadow: 0 1px 0 rgba(#000,.5);
        &:hover {
            background: #88a;
        }
    }
}

#header + #newsletter {
    margin: 0 0 2em;
}
#header.withimage + #newsletter {
    margin-top: -$header-mac-margin-bottom;
    padding-top: $header-mac-margin-bottom;
    h2 {margin-top:0}
}
