/*! github.com/necolas/normalize.css MIT License */

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

article,
aside,
details, /* 1 */
figure,
footer,
header,
main, /* 2 */
nav,
section,
summary { /* 1 */
  display: block;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: 1px dotted rgba(#000,.3); /* 1 */
  cursor: help;
  text-decoration: none; /* 2 */
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}


/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: Consolas, Menlo, Courier, monospace, serif; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Change the cursor in all browsers (opinionated).
 */

button,
[type="button"],
[type="submit"] {
  cursor: pointer;
}

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */

[disabled] {
  cursor: default;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
