
///////////// sidebar

.sidebarcontainer {
    @extend %maincol;

    @media (max-width: 500px) {
        display:flex; flex-direction: column; // sidebar has order: 99
    }
}

@media (min-width: 600px) {
    .nexttosidebar {
        > h2 {
            margin-top: 0;
        }
        overflow: hidden; // avoids weird float
    }
}


#sidebar {
    .download-info {
        font-size: 0.8em;
        text-align: center;
        font-weight: normal;
        color: #888;
    }
    ul, li {
        margin: 0; padding: 0; list-style: none;
    }
    li > a {
        display: block;
        color: #AD1353;
        padding: 0.25em 0 0.25em 17px;
        background: transparent 0 0.64em no-repeat;
        background-size: 13px 13px;
        text-decoration-color: rgba(#813,.25);
        &:visited {
            color: #888;
            text-decoration-color: rgba(#888,.25);
        }
        &:hover {
            color: #00f;
            text-decoration-color: rgba(#00f,.25);
        }
    }
    .bugs, .source {
        background-image: url(/changelog.png?embed);
        @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(/changelog@2x.png);
        }
    }
    .changelog {
        background-image: url(/older.png?embed);
        @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(/older@2x.png);
        }
    }
    .donate {
        background-image: url(/donate.png?embed);
        @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(/donate@2x.png);
        }
    }
    .older {
        .os-old-mac & {
            font-weight: normal;
            color: #283;
            text-decoration: underline;
        }
    }
    .beta {
        .os-old-mac & {
            display: none;
        }
    }
    .beta, .older {
        background-image: url(/download.png?embed);
        @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(/download@2x.png);
        }
    }
    .langs a:not(:hover) {
        color: inherit;
        text-decoration-color: rgba(#000,.25);
    }

    float: right;
    margin: 0 -2em 0.5em 1.5em;

    @media (max-width: 1000px) {
        margin-right: 0;
    }
    @media (min-width: 700px) {
        // Fade border out
        position: relative;
        &::before,&::after {
            position:absolute;
            left:-1px;right:0;height:1em;
            content: "";
            background: linear-gradient(#fff, rgba(#fff,0.5) 70%, rgba(#fff,0));
            pointer-events: none;
        }
        &::after {
            top:0;
        }
        &::before {
            bottom:0;
            background: linear-gradient(rgba(#fff,0), rgba(#fff,0.5) 30%, #fff);
        }
    }
    @media (max-width: 700px) {
        border-left:0; padding-left:0; margin-right: -0.5em;
        background: transparent;
        max-width: 9em;
        .langs {
            font-size: 0.9em;
        }
    }
    @media (max-width: 500px) {
        float: none;
        max-width: none;
        padding: 1em 0 0;
        margin: 1em 0;
        order: 99;
        border-top: 1px solid #eee;
        .download,.older,.beta {
            display:none;
        }
        .download-info {
            box-sizing: border-box;
            float:left;
            text-align: left;
            clear:left;
            margin: 0.5em 1em 0.5em 0;
        }
        .langs {opacity: 0.5;}
        .links {
            a {
                margin-left: 10px;
            }
            display: flex;
            flex-wrap: wrap;
        }
    }
    background: #fdfdfd;
    background: linear-gradient(to right, #fcfcfc, #fff);
    border-left: 1px solid #eee;
    padding: 1em 0 1em 1.2em;
    max-width: 10em;
    font-size: 0.9em;

    > .download {
        @extend %button;
        .os-not-mac & {
            display: none;
        }
        box-shadow: inset 0 1px 3px rgba(#000,.08);
    }
    > .download:not(.now) {
        color: #333;
        background: #f8f8f8;
        border-color: #bbb;
        text-shadow: none;
        &:hover {
            background: #efe;
            border-color: #0b2;
        }
    }
    > .now {
        background: #2c3;
        border-color: #0b2;

        &:hover {
            background: #1b0;
        }
        &:active {
            background: #2d1;
            text-shadow: 0 -1px 0 rgba(#000,0.2);
        }
        .os-old-mac & {
            background: #ccc;
            border: #777;
        }
    }
}
