@import "style.scss";

#features {
    @extend %maincol;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    > section {

        min-width: 15em;
        padding: 0 1em 1em;
        @media (max-width: 600px) {
            padding-right: 0.5em;
        }
        @media (min-width: 600px) {
            flex: 1;
        }
        strong {
            font-family: inherit;
            font-weight: 500;
            white-space: nowrap;
        }
    }
    h2 {
        margin: 0 0 .5em;
        font-size: 1.3em;
        color: #666;
        @media (min-width: 600px) {
            white-space: nowrap;
        }
    }
}

.quotes {
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    background: #F8F9FA;
    color: #6F7891;
    overflow: hidden;
    padding: 1em;
    margin: 0 0 2em;
    blockquote {
        text-align: left;
        vertical-align: bottom;
        max-width: 28em;
        min-width: 12em;
        flex:1;
        -webkit-flex: 1 1 15em;
        margin: 0 2em;
        @media (max-width: 800px) {
            margin: 0 1em;
        }
        padding: 0;
        page-break-inside: avoid;
        a:not(:hover) {
            color: #448;
            text-decoration: none;
            white-space: nowrap;
        }
    }
}

///// newsletter

body > #newsletter {
    margin: 2em 0 0;
    padding: 0 0 1em;
    overflow: hidden;
    background: #557;
    text-shadow: 0 1px 0 #224;
    color: white;
    a {
        text-decoration-color: currentColor;
        &:hover {
            color: #bbf;
        }
    }
    > form {
        @extend %maincol;
    }
    input {
        font-size: inherit;
    }
    [type=email] {
        width: 13em;
        max-width: 66%;
    }
    [type=submit] {
        background: #779;
        color: white;
        border: 1px solid rgba(#fff,.25);
        border-radius: 3px;
        text-shadow: 0 1px 0 rgba(#000,.5);
        &:hover {
            background: #88a;
        }
    }
}


#header + #newsletter {
    margin: 0 0 2em;
}
#header.mac + #newsletter {
    margin-top: -$header-mac-margin-bottom;
    padding-top: $header-mac-margin-bottom;
    h2 {margin-top:0}
}

// thanks
//

body > #thanks, body > #faq { // a bit of a hack
    @extend %maincol;
}
#faq + #features {
    margin-top: 2em;
    border-top: 1px solid #eee;
    padding-top: 2em;
}


.about-pngout {
    font-size: 0.86em; color: #888;
    a:not(:hover) {color:inherit}
}
