@import "normalize.scss";
@import "_api.scss";

.os-mac .not-mac {
    display:none;
}
.os-not-mac .mac-only {
    display: none;
}

html {
    font: 300 1em/1.5 $body-font;
    font-size-adjust: none;
    @media (max-width: 500px) {
        line-height: 1.4;
    }
    @media (min-width: 1700px) {
        line-height: 1.6;
    }
}

html, body {
    margin: 0; padding: 0;
}

a:not(:hover) {
    text-decoration-color: rgba(#00f,.25);
    &:visited {
        text-decoration-color: rgba(#60a,.25);
    }
}

h1,h2,h3,h4 {
    font-size: 1.6em;
    font-weight: 300;
    font-family: $header-font;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.15em;
    margin: 0.87em 0;
}

dt {
    font-weight: bold;
    margin: 1em 0 0;
    color: #444;
}
hr {
    border:0;
    border-top:1px solid #ddd;
    padding:0;
}

dd {
    padding: 0;
    margin: 0 0 0 1em;
    @media (min-width: 700px) {
        margin-left: 2em;
    }
}
dd p {
    margin: 0.5em 0;
}

samp {
    background: #f8f8f8; padding: 1px 2px; font-family: Helvetica, "Lucida Grande", sans-serif;
}
abbr {
    font-size: 0.98em;
}

body > main {
    @extend %maincol;
}

@mixin semiboldfont {
    font-family: $logo-font;
    font-style: normal;
    font-weight: normal;
}

.brand {
    @include semiboldfont;
}

@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
    strong {
        @include semiboldfont;
    }
}

p.warning {
    background: #ffe;
    padding: 1em;
    border: 1px solid #ec8;
    border-radius: 2px;
    overflow: hidden;
}
.pullquote {
    > p {margin:0}
    @media (min-width: 700px) {
        font-size: 1.4em;
    }
    @media (min-width: 400px) {
        float: right;
        margin: 0 0 0.5em 1em;
        max-width: 25%;
    }
    min-width: 6em;
    clear:right;
    font-style: italic;
    color: white;
    font-family: Georgia, serif;
    text-shadow: 0 1px 0 rgba(#000,.5);
    border-radius: 3px;
    background: #B70C54;
    padding: 1em;
    text-align: center;
    border-bottom: 4px solid rgba(#000,.25);
}

.reference:not(:hover) {
    color: inherit;
    text-decoration-color: rgba(#008,.25);
}

.sponsor {
    background: #fafafa; border: 1px solid #f3eeee;
    padding: 1em; margin: 1em 0;
    overflow: hidden;
}

@import "_header.scss";
@import "_sidebar.scss";
@import "_footer.scss";
