<!DOCTYPE html>
<head lang="{{lang}}">
<meta charset="utf8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width">
<!--!

    See how it's made: https://github.com/ImageOptim/website

-->
<script>
document.documentElement.className = 'has-js ' + (function(ua){
    if (/\b(?:Linux|Android|iPhone|iP[ao]d|Windows )\b/.test(ua)) {
        return 'os-not-mac' + (/\bWindows\b/.test(ua) ? ' os-win' : '');
    }
    return 'os-mac' + (/\bOS[_ ]X[_ ]10[._][3-7]\D/.test(ua) ? ' os-old-mac' : '');
})(navigator.userAgent);
function ga(){ga.q.push(arguments)}
ga.q=[];
ga.l=Date.now();
ga('create', 'UA-3088672-5', 'auto', {'siteSpeedSampleRate': 10, transport: 'beacon'});
ga('send', 'pageview');
</script>
<style>{{inlineFontsStyle|safe}}</style>
{% block styles %}
<link rel="stylesheet" href="style.css">
{% endblock %}
{% block extrastyles %}
    {% if inlineStyle %}
        <style>{{inlineStyle|safe}}</style>
    {% elif inlineStyleFile %}
        <link rel="stylesheet" href="{{inlineStyleFile}}">
    {% endif %}
{% endblock %}
{% block head %}{% endblock %}

<meta name="og:title" content="{{title}}">
<meta name="og:site_name" content="ImageOptim">
<meta name="og:image" content="/ImageOptimIcon.png">
<meta name="og:image:width" content="256">
<meta name="og:image:height" content="256">
<meta name="og:image" content="/ImageOptimShare.jpg">
<meta name="og:image:width" content="703">
<meta name="og:image:height" content="255">
<link rel="author" href="https://kornel.ski">
<link rel="payment" href="https://flattr.com/submit/auto?url=https://imageoptim.com&amp;user_id=pornel&amp;title=ImageOptim" type="text/html">
<link rel="icon" href="/icon.png">

</head>

{% macro contact(label,subject = 'ImageOptim') %}<!-- htmlmin:ignore --><a
class='email
href="mailto:x@y.com"
'
href
 =  '
&#x20;&#109;&#x61;&#105;l&#x74;o&#58;&#37;&#x32;&#x30;%6&#98;&#37;6&#x66;&#x72;&#37;&#x36;e&#101;&#x6C;&#37;40i%&#x36;d&#x25;&#x36;1%6&#x37;eo&#x70;&#x74;&#x69;&#37;6&#100;%2e%63%6&#x66;&#x6D;?subject={{subject|urlencode}}
'
>{{label}}</a
><!-- htmlmin:ignore -->{% endmacro %}

<body>
{% if inlineStyle %}<!-- htmlmin:ignore -->{# this is to load Roboto font first #}<p style="position:absolute;top:0;left:0">&nbsp;<b>&nbsp;</b></p><!-- htmlmin:ignore -->{% endif %}
{% block header %}
<header id="header" {% if 'mac' == current %}class="withimage"{% endif %}>
<nav>
    <h1><a href="/"><img src="/icon.png" srcset="/icon@2x.png 2x" width="32" height="32" alt=""> ImageOptim</a></h1>
    <a {% if 'mac' == current %}class="current"{% else %}href="/mac"{% endif %}>
    {% block topMacApp %}
    Mac <span>app</span>
    {% endblock %}
    </a>
    {% if 'other' == current %}
    <a class="current">Other <span>versions</span></a>
    {% else %}
    <a href="/mozjpeg"><span>MozJPEG</span> online</a>
    {% endif %}
</nav>
<div class="hero {% if not largeHeader %}compact{% endif %}"><div>
    <h2>
    {% block h2 %}
    {% if not largeHeader %}<a href="/mac">{% endif %}
    <span class="brand">ImageOptim</span> makes images load faster
    {% endblock %}
    {% if not largeHeader %}</a>{% endif %}
    </h2>
    <p class="sub">
    {% block h2sub %}
    Removes bloated metadata. Saves disk&nbsp;space &amp;&nbsp;bandwidth by compressing images without&nbsp;losing&nbsp;quality.
    {% endblock %}
    </p>
    {% block cta %}
    {% if largeHeader %}
    <div class=download>
        <div>
            <a class="for-mac now" download href="/ImageOptim.tbz2" rel="nofollow">
                {% block downloadbutton %}
                Download for <span class="not-mac">Mac</span> <span class="mac-only">Free</span>
                {% endblock %}
            </a>
            <a class="alt" href="/versions.html">
                {% block otherbutton %}
                <span class="not-mac">See alternative</span>
                <span class="mac-only">Other</span> versions
                {% endblock %}
            </a>
        </div>
        <p class="notes">
        {% block requirements %}
        Requires macOS 10.8+. It's <a href="https://github.com/ImageOptim/ImageOptim">Free and Open Source</a>. <a href="/donate.html">Donate</a>.
        {% endblock %}
        </p>
    </div>
    {% endif %}
    {% endblock %}
    {% if 'mac' == current %}
    {% if not largeHeader %}<a href="/mac">{% endif %}
    <img class="screenshot" width="514" height="166" src="ImageOptim-app.png" srcset="ImageOptim-app@2x.png 2x" alt="{{"Simple drag'n'drop interface"|t}}">
    {% if not largeHeader %}</a>{% endif %}
    {% endif %}
</div></div>
</header>
{% endblock %}

{% block body %}{% endblock %}

<footer id="footer"><div>
<p>{{"Created by"|t}} <a rel=author href="https://kornel.ski" class="kornel">Kornel Lesiński</a>.  {{ contact("Contact"|t , 'ImageOptim website') }}. <a href="https://twitter.com/kornelski">{{"Follow on Twitter"|t}}</a>.
{% block footerextra %}{% endblock %}
</p>
</div></footer>

<script>
document.body.addEventListener('click', function(e) {
    var target = e.target;
    while(target && target.tagName != 'A') {
        target = target.parentNode;
    }
    if (!target) return;

    if (target.hasAttribute('download')) {
        localStorage.downloaded = Date.now()+3600*1000;
        if (window.showThanks) {
            showThanks(true);
            setTimeout(function(){history.pushState({}, '', '/howto.html');}, 30000);
        }
        ga('send', 'pageview', '/download');
        ga('send', 'event', 'download', target.pathname);
    }
}, false);
</script>
{% block bodyend %}{% endblock %}

<script async src='https://www.google-analytics.com/analytics.js'></script>
</body>
