{% set title = "ImageOptim — what has changed in the latest version" %}
{% extends "pages/_subpage.html" %}
{% block head %}
    <link rel="alternate" type="application/rss+xml" href="/appcast.xml"/>
    <style>
        #changelog > h2 > a:not(:hover) {color: inherit; text-decoration: none}
        #changelog h3 > a:hover {
            color: #0b2;
        }
        #changelog h3 > a {
            font-weight: bold;
            padding-left: 16px;
            background: url(/download@2x.png) no-repeat 0 75%;
            background-size: 13px 13px;
        }
        .smallprint {font-size: 0.9em;}
    </style>
{% endblock %}
{% block main %}
    <section id="changelog">
        <h2><a href="/mac">ImageOptim</a> Changelog</h2>
          <section>
            <h3 id="v1.6.2"><a download href="/ImageOptim1.6.2a1.tar.bz2" rel="nofollow">1.6.2a1</a></h3>
            <ul>
                <li>Runs tools with lower priority (OS&nbsp;X&nbsp;10.10+ only)</li>
            </ul>
            <p class="smallprint">This version requires at least Mac OS&nbsp;X&nbsp;10.8 (Mountain Lion), and full functionality is only available in OS&nbsp;X&nbsp;10.10 (Yosemite) or later.</p>
          </section>
          <section>
            <h3 id="v1.6.1"><a download href="/ImageOptim1.6.1.tar.bz2" rel="nofollow">1.6.1</a></h3>
            <ul>
                <li><a href="https://kornel.ski/lossygif">Lossy GIF</a> option. 50%-70% file size reduction!</li>
                <li>Lossy conversion can be enabled permanently</li>
                <li>Unified speed setting that controls all tools' compression/time trade-off</li>
                <li>Romanian localization (thanks Oprea Nicolae)</li>
                <li>Simplified Chinese localization (thanks asins)</li>
                <li>Japanese localization updated (thanks KAMINO Aki)</li>
            </ul>
            <p class="smallprint">This version requires at least Mac OS&nbsp;X&nbsp;10.8 (Mountain Lion), and full functionality is only available in OS&nbsp;X&nbsp;10.10 (Yosemite) or later.</p>
          </section>
          <section>
            <h3 id="v1.6.0"><a download href="/ImageOptim1.6.0.tar.bz2" rel="nofollow">1.6.0</a></h3>
            <ul>
                <li>Switched from <code>jpegrescan</code> to <a href="https://github.com/mozilla/mozjpeg#readme">MozJPEG</a></li>
                <li>Add ability to <em>temporarily</em> enable lossy <a href="http://pngquant.org">pngquant</a> and MozJPEG re-encoding. The setting <a href="https://github.com/pornel/ImageOptim/issues/17">will switch itself off every time</a> ImageOptim restarts</li>
                <li>Added an App Extension that adds <a href="https://twitter.com/kornelski/status/589545243130888192"><samp>ImageOptimze</samp> option to images inside Apple Mail compose window</a> (OS&nbsp;X&nbsp;10.10+ only)</li>
                <li>Fix for erroneous claim that files have already been optimized</li>
                <li>Faster default settings for Macbook Air and older Macs</li>
                <li>Fixed QuickLook animation on Yosemite</li>
                <li>Gratuitous translucency in Yosemite</li>
                <li>Updated translations and fixed help files</li>
            </ul>
            <p class="smallprint">This version requires Mac OS&nbsp;X&nbsp;10.7 (Lion) or later, and full functionality is only available in OS&nbsp;X&nbsp;10.10 (Yosemite).</p>
          </section>
          <section>
            <h3 id="v1.5.6"><a download href="/ImageOptim1.5.6.tar.bz2" rel="nofollow">1.5.6</a></h3>
            <ul>
                <li>Improved drag'n'drop of files outside ImageOptim window</li>
                <li>Removed partial sandbox support that caused problems on some systems</li>
            </ul>
            <p class="smallprint">This version requires Mac OS&nbsp;X&nbsp;10.7 (Lion) or later. <span class="leopard-only"><a rel="nofollow" href="macappstores://itunes.apple.com/us/app/os-x-mavericks/id675248567?mt=12">If you have older Mac OS X, please install the free system upgrade from Apple</a>.</span></p>
          </section>
          <section>
            <h3 id="v1.5.5"><a download href="/ImageOptim1.5.5.tar.bz2" rel="nofollow">1.5.5</a></h3>
            <ul>
                <li>Option to <samp>Stop</samp> optimizations earlier (keeping progress made so far)</li>
                <li>Removal of "Where from" OS X metadata</li>
                <li>Lighter/faster default config on slow machines</li>
                <li>Updated PngCrush, PNGOUT, ZopfliPNG</li>
                <li>Autolayout used for the main window</li>
            </ul>
          </section>
          <hr/>
          <section>
            <h3 id="v1.5.4"><a download href="/ImageOptim1.5.4.tar.bz2" rel="nofollow">ImageOptim 1.5.4</a></h3>
            <p class="warning">This is the last version that supports Mac OS&nbsp;X&nbsp;10.6 (Snow Leopard)</p>
            <ul>
                <li>Added <samp>Revert to Original</samp> option (restores unoptimized file)</li>
                <li>Added cache of already-optimized files. In some cases ImageOptim will be able to quickly skip files it knows it can't optimize any further</li>
            </ul>
          </section>
          <section>
            <h3 id="v1.5.4a"><a download href="/ImageOptim1.5.4a6.tar.bz2" rel="nofollow">1.5.4a6</a> <small>(experimental)</small></h3>
            <ul>
              <li>Temporarily added <a href="https://pngquant.org">pngquant</a></li>
            </ul>
          </section>
          <section>
            <h3 id="v1.5.3"><a download href="/ImageOptim1.5.3.tar.bz2" rel="nofollow">1.5.3</a> <small>(unstable)</small></h3>
            <ul>
              <li>Fixed compatibility with older Mac OS X</li>
              <li>Fixed PNGOUT integration</li>
            </ul>
          </section>
          <section>
            <h3 id="v1.5.2">1.5.2 <small>(unstable)</small></h3>
            <ul>
              <li>Better compression on the first try due to improved management of temporary files and optimization parallelizm</li>
              <li><a href="https://github.com/pornel/Sparkle">Updated autoupdater</a></li>
              <li>Improved <samp>Reveal in Finder</samp></li>
              <li>Fixed handling of relative paths when launched from CLI</li>
              <li>Switched to newer <abbr>API</abbr>s for path &amp; file handling and simplified code for handling parallel queues</li>
            </ul>
          </section>
        <section>
            <h3 id="v1.5.1"><a download rel="nofollow" href="/ImageOptim1.5.1.tar.bz2">1.5.1</a></h3>
            <ul>
                <li>New: <samp>Copy as Data <abbr>URL</abbr></samp> (copies small image files to clipboard as <code>data:image/…</code> <abbr>URI</abbr>s for easy inlining in <abbr>CSS</abbr>/<abbr>HTML</abbr>)</li>
                <li>Less noisy output when run from command line</li>
                <li>Updated translations for Russian, Czech, Danish, Greek, Italian, Japanese, Norwegian, Polish, Portugese, Turkish, Vietnamese and Chinese</li>
                <li>Workaround for Code Signing problems (*shakes fist at Apple*)</li>
            </ul>
        </section>
        <section>
            <h3 id="v1.5.0"><a download rel="nofollow" href="/ImageOptim1.5.0.tar.bz2">1.5.0</a></h3>
            <ul>
                <li>Migrated to <abbr title="automatic resource counting">ARC</abbr> memory management</li>
                <li>Statusbar text with optimization result can be selected and copied</li>
                <li>Lossy jpegoptim conversion (if enabled in Preferences) will be applied only if it gives >5% filesize gain</li>
                <li>Updated Greek and Italian translations (thanks Giorgis Zacharakis and Oscar Fanelli)</li>
            </ul>
        </section>
        <section>
        <h3 id="v1.4.5"><a download rel="nofollow" href="/ImageOptim1.4.5.tar.bz2">1.4.5</a></h3>
        <ul>
            <li><strong>New icon</strong> by Anna from <a href="http://icons8.com">icons8</a>/<a href="http://www.visualpharm.com/">VisualPharm</a>! <img src="/icon-change.png" alt="Crushed guy is now a magical press" style="padding:5px"/></li>
            <li>Running from <abbr>CLI</abbr> directly is synchronous, hides the window and automatically quits when done:
                <pre>/Applications/ImageOptim.app/Contents/MacOS/ImageOptim ~/Desktop/image.png</pre>
            </li>
            <li>Purchased 1-year Developer ID from Apple to avoid <a href="http://osxdaily.com/2012/07/27/app-cant-be-opened-because-it-is-from-an-unidentified-developer/">blocking of independent software</a> in Mountain Lion and Mavericks</li>
            <li>Improved QuickLook integration</li>
            <li>Fixed <kbd title="option-click">⌥-click</kbd> on <samp>Again</samp> button</li>
        </ul>
        </section>

        <section>
        <h3 id="v1.4.4"><a download rel="nofollow" href="/ImageOptim1.4.4.tar.bz2">1.4.4</a></h3>
        <ul>
            <li>Running optimizations again is much faster by skipping tools that are known not to improve compression when run second time</li>
            <li>Improved backup of files on Samba network drives (10.8+ only)</li>
            <li>Improved dragging and copy&amp;paste of files in the list</li>
            <li>Improved time-limiting of PNGOUT and Zopfli</li>
            <li>Ability to disable dock bounce with <code>defaults write net.pornel.imageoptim BounceDock -bool false</code></li>
        </ul>
        </section>

        <section>
        <h3 id="v1.4.3"><a download rel="nofollow" href="/ImageOptim1.4.3.tar.bz2">1.4.3</a></h3>
        <ul>
            <li>Fixed opening from Dock and command-line</li>
            <li>ImageOptim won't try to optimize non-writeable files</li>
            <li>Better cleanup of temporary files</li>
            <li>Updated translations and added new:
                <ul>
                <li>Vietnamese (thanks to Biz Over and Phan Anh)</li>
                <li>Turkish (thanks to Ali Riza Esin)</li>
                <li>Czech (thanks to "fri")</li>
            </ul></li>
        </ul>
        </section>

        <section>
        <h3 id="v1.4.2"><a download rel="nofollow" href="/ImageOptim1.4.2.tar.bz2">1.4.2</a></h3>
        <p>Big thanks to James Stout for contributing several improvements in this release!</p>
        <ul>
        <li><a href="http://googledevelopers.blogspot.co.uk/2013/02/compress-data-more-densely-with-zopfli.html">Zopfli</a> compressor</li>
        <li>Icons for &ldquo;Retina&rdquo; display</li>
        <li><samp>ImageOptimize</samp> service in Finder's context menu. You can disable it or add a keyboard shortcut in <samp>Finder → Services → Services Preferences…</samp></li>
        <li>Removal of Resource Forks and hidden attributes that inflated file size in Finder</li>
        <li>Original images are &ldquo;backed up&rdquo; to Trash</li>
        <li>ImageOptim no longer tries to be clever with preservation <abbr>EXIF</abbr> markers and always strips them when told to</li>
        <li>Translations
            <ul>
            <li>Translations are now done via <a href="https://www.transifex.com/projects/p/imageoptim/" rel="nofollow">Transifex website</a>. You can sign up and help!</li>
            <li>Korean translation (thanks to Byung Hoon Cho)</li>
            <li>Chinese translation (thanks to Jason C. Huang)</li>
            <li>Lithuanian translation and updated Russian translation (thanks to Aleksandr Jadov)</li>
        </ul></li>
        <li>Updated Pngcrush to 1.7.66</li>
        <li>AppleScript command for checking how many optimizations are running (for integration with <a href="http://jamiemason.github.io/ImageOptim-CLI/">ImageOptim-<abbr>CLI</abbr></a>)</li>
        <li>Overall optimization gain shown when optimizing same file multiple times</li>
        <li>Tools are run in order that maximizes utilization of multicore <abbr>CPU</abbr>s</li>
        </ul>
        </section>

        <section>
        <h3 id="v1.4.1"><a download rel="nofollow" href="/ImageOptim1.4.1.tar.bz2">1.4.1</a></h3>
        <ul>
        <li>Added configurable columns (right-click table headers)</li>
        <li>Status bar shows overall savings</li>
        <li>Slowest settings are not used for very large files to avoid optimisation taking “forever”</li>
        <li>Less aggressive optimization of <abbr>GIF</abbr> files to avoid bugs in Safari</li>
        <li>British locali<em>s</em>ation</li>
        <li><abbr>EXIF</abbr> and color profiles are never stripped from large <abbr>JPEG</abbr> files (i.e. usually photos form digital cameras)</li>
        </ul>
        </section>

        <section>
        <h3 id="v1.4.0"><a download rel="nofollow" href="/ImageOptim1.4.0.tar.bz2">1.4.0</a></h3>
        <ul>
        <li>Included PNGOUT by default. Now ImageOptim includes all best optimisation tools out of the box!</li>
        <li>Simplified preferences: options for stripping <abbr>PNG</abbr> chunks and <abbr>JPEG</abbr> <abbr>EXIF</abbr> data are in one place</li>
        <li>Localization fixes by Gildas Lormeau</li>
        <li><samp>View Source</samp> option — because not only web apps have viewable source code :)</li>
        </ul>
        </section>

        <section>
        <h3 id="v1.3.4"><a download rel="nofollow" href="/ImageOptim1.3.4.tar.bz2">1.3.4</a></h3>
        <ul>
        <li>Removed troublesome optimisation from <code>jpegrescan</code></li>
        <li>Fixed <code>jpegtran</code> ran without <code>jpegrescan</code></li>
        <li>Updated Pngcrush to 1.7.22</li>
        </ul>
        </section>

        <section>
        <h3 id="v1.3.3"><a download rel="nofollow" href="/ImageOptim1.3.3.tar.bz2">1.3.3</a></h3>
        <ul>
            <li>Disabled <code>jpegrescan</code> due to compatibility problems</li>
            <li>Updated Gifsicle to 1.64</li>
            <li>Updated Pngcrush to 1.7.18</li>
            <li>Fixed bug that could cause corruption of GIF files</li>
        </ul>
        </section>

        <section>
        <h3 id="v1.3.2"><a download rel="nofollow" href="/ImageOptim1.3.2.tar.bz2">1.3.2</a></h3>
        <ul>
            <li>Extended <code>jpegtran</code> optimisation with <code>jpegrescan</code> script by Loren Merritt</li>
            <li>Norwegian Bokmål localization (thanks to Henrik Helmers)</li>
            <li>Portuguese Brasil localization (thanks to Luiz Menezes)</li>
            <li>Updated Gifsicle to 1.63</li>
            <li>Fixed revealing of multiple files in Finder</li>
        </ul>
        </section>
        <section>
        <h3 id="v1.3.1"><a download rel="nofollow" href="/ImageOptim1.3.1.tar.bz2">1.3.1</a></h3>
        <ul>
            <li>Placeholder for drag'n'drop area</li>
            <li>Running tools are immediately stopped when corresponding files are removed from the list</li>
            <li><kbd title="option-click">⌥-click</kbd> “<samp>Optimize again</samp>” to optimize only files that have previously been optimized successfully</li>
            <li><kbd title="option-click">⌥-click</kbd> “<samp>Delete</samp>” menu option to remove completed files</li>
            <li><kbd title="cmd-backspace">⌘⌫</kbd> as well as <kbd title="backspace">⌫</kbd> and <kbd title="forward delete">⌦</kbd> remove files from the list</li>
            <li>File sizes are formatted according to system locale</li>
            <li>Fixed Pngcrush integration freezing on some machines</li>
            <li>Fixed Spanish localization</li>
        </ul>
        </section>
        <section>
        <h3 id="v1.3.0"><a download rel="nofollow" href="/ImageOptim1.3.0.tar.bz2">1.3</a></h3>
        <p>Major improvements in this release have been done by Reinhard Möller. Big thanks!</p>
        <ul>
            <li>QuickLook integration</li>
            <li>Added ability to copy, paste and drag files out of ImageOptim's window</li>
            <li>Button to reveal files in Finder</li>
            <li>UI improvements for OS X Lion</li>
            <li>Fixed updating of file paths in preferences</li>
            <li>Danish localization (thanks to Rasmus Kjær)</li>
            <li>Spanish localization (thanks to Ben Pollard and Wayne Hartman)</li>
        </ul>
        </section>
        <section>
            <h3 id="v1.2.6"><a download rel="nofollow" href="/ImageOptim1.2.6.tar.bz2">1.2.6</a></h3>
            <ul>
                <li>Cosmetic UI fixes for OS X Lion</li>
                <li>Dropped support for PowerPC</li>
                <li>Dropped support for Mac OS&nbsp;X&nbsp;10.5 Leopard. Snow Leopard or Lion is required</li>
            </ul>
        </section>
        <hr/>
        <section>
        <h3 id="v1.2.5"><a download rel="nofollow" href="/ImageOptim1.2.5.tar.bz2">ImageOptim 1.2.5</a></h3>
        <p class="warning">This is the last version that supports Mac OS&nbsp;X&nbsp;10.5 (Leopard) and PowerPC.</p>
        <ul>
            <li>European Portugese localization (thanks to Sérgio Miranda)</li>
            <li>Russian localization (thanks to Nicom)</li>
            <li>Updated to Gifsicle 1.60</li>
            <li>Updated to OptiPNG to 0.6.4</li>
            <li>Updated to Pngcrush to 1.7.12</li>
        </ul>
        </section>
        <section>
        <h3 id="v1.2.4"><a download rel="nofollow" href="/ImageOptim1.2.4.tar.bz2">1.2.4</a></h3>
        <ul>
                   	<li>Italian localization (thanks to Fabio Sanna)</li>
     				<li>German localization (thanks to Alexander Mayer)</li>
     				<li>Updated versions of Gifsicle and OptiPNG</li>
     				<li>Fixed saving of AdvPNG-optimized images</li>
                 </ul>
        </section>
        <section>
        <h3 id="v1.2.3"><a download rel="nofollow" href="/ImageOptim1.2.3.tar.bz2">1.2.3</a></h3>
        <ul>
  	        <li>Changed UI to match Leopard aesthetics (based on design by Martin Andersson from Auforia and Chris Messina)</li>
			<li>Added Dutch localization by Mathias Bynens</li>
            <li>Status column is sortable</li>
			<li>Write errors are now properly reported</li>
			<li>64-bit and Snow Leopard compatibility improved</li>
        </ul>
        <p class="smallprint">Current version of ImageOptim requires Mac OS&nbsp;X&nbsp;10.5.8 or newer. If you have older system you should either update it or use older version of ImageOptim.</p>
        </section>
        <section>
        <h3 id="1.2.2"><a download href="/ImageOptim1.2.2.tar.bz2">1.2.2</a></h3>
        <ul>
        	<li>Added French localization by Mathias Richter</li>
        	<li>Added modified version of optipng that clears dirty alpha transparency (RGB components of fully transparent pixels)</li>
        	<li>Added Gifsicle for optimisation of <em>animated</em> GIF files (use PNG instead of static GIFs!)</li>
        	<li>Added tools menu for quick disabling/enabling of tools used</li></ul>
        </section>
        <section>
        <h3 id="1.2.1"><a download href="/ImageOptim1.2.1.tar.bz2">1.2.1</a></h3>
        <ul>
        	<li>Fixed progress indicator</li>
        	<li>Updated Polish translation</li></ul>
        </section>
        <section>
        <h3 id="1.2.0"><a download href="/ImageOptim1.2.0.tar.bz2">1.2.0</a></h3>
        <ul>
        	<li>Leaner and more stable thanks to new Leopard APIs</li>
        	<li>Can handle order of magnitude more files at once</li>
        	<li>Avoids writing many files to disk at the same time</li>
        	<li>Checks actual file type rather than rely on filename extension</li>
        	<li>PNGOUT may be gracefully stopped if takes too much time to optimize</li>
        	<li>Temporary files are cleaned up on exit</li>
        	<li>Errors during optimisations don't slow down or lock up ImageOptim</li></ul>
        </section>
        <hr/>
        <section>
        <h3 id="1.0.1"><a download href="/ImageOptim1.0.10.tar.bz2">ImageOptim 1.0.10</a></h3>
        <p class="warning">This is the last version that supports Mac OS X Tiger.</p>
        </section>
        <hr/>
        <section>
        <h3 id="1.0.8"><a download href="/ImageOptim1.0.8.tar.bz2">ImageOptim 1.0.8</a></h3>
        <p class="warning">This is the last version that supports Mac OS X Panther.</p>
        </section>
        <footer>
            <p><a href="/appcast.xml" rel="feed">Appcast</a></p>
        </footer>
     </section>
</div>
{% endblock %}
