{% set title = "Use sRGB instead of ICC color profiles — ImageOptim" %}
{% extends "pages/_subpage.html" %}
{% block main %}
<section class="nexttosidebar">
<h2>Device-dependent color</h2>
<p>How &ldquo;raw&rdquo; RGB colors <em>really</em> look like depends on capabilities of the monitor they are viewed on. Some monitors display more saturated colors, some monitors are brighter, etc.</p>

<p>Color profiles are supposed to help even out the differences. When a profile is embedded in an image, it describes in exact physical terms how the colors are supposed to look like. Then, the software that displays the image&hairsp;—&hairsp;if it knows exact physical capabilities of the monitor&hairsp;—&hairsp;may adjust image colors to display according to the color profile.</p>

<p>That's the theory. <strong>In practice:</strong></p>
<ul>
    <li>The majority of typical consumer monitors have a color profile similar to the standard <abbr>sRGB</abbr> profile, and can't display any &ldquo;better&rdquo; profiles.</li>
    <li>Almost all images, especially on the Web, were designed to be displayed in the <abbr>sRGB</abbr> color profile. When displayed correctly, they look the same on a high-end &ldquo;wide gamut&rdquo; monitor as on an average <abbr>sRGB</abbr> monitor.</li>
    <li>Not all browsers and image viewers <a href="https://kornel.ski/en/color">support color profiles correctly</a>. While basic support has improved in recent years, there are still cases where it's buggy or misconfigured, so it can't be relied upon for anything fancy.</li>

</ul>

<p>As a result, for most users, embedded color profiles provide no value. Even for the users of high-end monitors there's rarely any benefit, because most images don't contain extremely saturated colors that require a special profile.</p>
<p>However, the use of embedded color profiles has a substantial cost in file size — the profiles can balloon an image by over 100KB! For small images that may multiply their file size.</p>
</section>
<section>
<h2>The solution</h2>
<aside class="pullquote"><p>Convert images to the sRGB profile, but&nbsp;don't embed it</p></aside>
<p>Save images in the <strong>sRGB profile with gamma 2.2</strong>, but <em>don't embed any profile in the image</em>. That's the most compatible and most efficient solution.</p>
<p>Software that supports color profiles will assume that images without an embedded profile are in the sRGB profile. Software that doesn't support color profiles will use monitor's profile, which is most likely to be sRGB as well.</p>

<p>Color profiles can be embedded only in <abbr>PNG</abbr> and <abbr>JPEG</abbr>. <abbr>GIF</abbr> images don't have any color correction capability. Stripping color metadata from <abbr>PNG</abbr> and <abbr>JPEG</abbr> makes their colors consistent with <abbr>GIF</abbr> as well as with colors in <abbr>CSS</abbr>/<abbr>HTML</abbr>.</p>

<h3>Configuring software for accurate color</h3>
<p>If you're using color-profile-aware software, make sure to configure it to work in the sRGB color space. In Photoshop use <samp>Convert to Profile…</samp> and choose <samp>sRGB IEC61966</samp>. When “Saving for Web” check the <samp>Convert to sRGB</samp> option.</p>

<p>If you have a wide-gamut monitor, you will need to configure your operating system to use the appropriate profile for your monitor (and ideally calibrate it with a hardware colorimeter). Use sRGB for images, but <em>don't</em> use an sRGB profile for wide-gamut monitors' display profile!</p>
</section>
<section>
<h2>Color vs ImageOptim</h2>

<p>By default, ImageOptim removes all color profiles. It's an obvious win for file size, and a good way to get consistent colors across different browsers, operating systems and devices.</p>

<p>However, ImageOptim does not convert image pixels to the sRGB color space, because that's a slightly lossy operation. The&nbsp;color of the rare images that aren't in the sRGB color space will fade after the optimization (usually become a bit less saturated). If you're using images with specialized color profiles or non-<abbr>RGB</abbr> images (e.g., <abbr>CMYK</abbr> <abbr>JPEG</abbr>), you should <strong>convert&nbsp;them to sRGB first</strong>.</p>

<p>The alternative is to disable <abbr>EXIF</abbr> and gamma chunk removal in ImageOptim's Preferences and keep the color profile data in&nbsp;the image, but that's not recommended: it will leave images bloated, and will give faded out colors in browsers that don't support color profiles.</p>
</section>
{% endblock %}
