{% set title = "ImageOptim — usage from command line" %}
{% extends "pages/_subpage.html" %}
{% block extrastyles %}
<style>
pre {padding:1.5em 0.5em 1.5em 1em; background: #222; box-shadow: inset 1px 3px 5px black; color: white; border-radius: 5px;}
p code {white-space:nowrap; background: #f8f8f8; padding: 2px 1px; border-radius: 1px}
main > section {overflow: hidden;}
main > section > h2 {margin-top: 0}
</style>
{% endblock %}
{% block main %}
<section>
<h2>Non-blocking method</h2>
<p>The easiest way to launch ImageOptim from Terminal:</p>

<pre><code>open -a ImageOptim .</code></pre>

<p>This will launch ImageOptim with <em>visible <abbr>UI</abbr></em> and <em>asynchronously</em> optimize all images in the current directory and subdirectories. The command will end immediately and will <em>not</em> wait for the result.</p>
<p>When this command is executed multiple times files will be added to ImageOptim instance that is already running.</p>

<p>Instead of <code>.</code> argument at the end you can specify any files or directories, e.g. <code>open -a ImageOptim *.png</code> will optimize all <abbr>PNG</abbr> files in the current directory.</p>
</section>
<section>
<h2>Blocking method</h2>
<p>The best way to run ImageOptim from bash scripts or build systems (Make, ant):</p>

<pre><code style="font-size:0.85em">/Applications/ImageOptim.app/Contents/MacOS/ImageOptim *.png</code></pre>

<p>This will lanuch ImageOptim with <em>hidden <abbr>UI</abbr></em> and optimize all <code>*.png</code> files <em>synchronously</em>. The command will block and <em>wait</em> until all files are optimized.</p>
<p>Each execution of this command will start and quit a new, independent ImageOptim instance.</p>

<p>You can specify any number of files or directories as arguments, but you must not specify any flags (arguments must not start with <code>-</code>).</p>
</section>
<section>
<h2>Third-party solutions</h2>
<h3>ImageOptim-CLI</h3>
<p>For simpler command-line interface and integration with other tools like <a href="https://pngmini.com">ImageAlpha</a>, see <a href="https://jamiemason.github.io/ImageOptim-CLI/">ImageOptim-CLI</a> tool. It has a <a href="https://github.com/JamieMason/grunt-imageoptim">grunt-imageoptim</a> wrapper for building with GruntJS.</p>
</section>
<h3>Running on Linux servers</h3>
<p>ImageOptim is a Mac-only application. If you're developing a website using a Mac, but deploying to Linux, you should run ImageOptim on the development machine before publishing images.</p>
<p><a href="/versions.html">See other versions/alternatives to ImageOptim</a>.</p>
</div>

{% endblock %}
