{% set title = "ImageOptim – Un optimiseur PNG/JPEG/GIF pour OS X" %}
{% set largeHeader = true %}
{% extends "pages/_layout.html" %}
{% block styles %}
{# inline only #}
{% endblock %}

{% block head %}
<link rel="alternate" hreflang="en" href="/mac">
{% endblock %}

{% block topMacApp %}
<span>Pour</span> Mac
{% endblock %}

{% block h2 %}
<span class="brand">ImageOptim</span> optimise les images
{% endblock %}
{% block h2sub %}
Optimise les images&hairsp;—&hairsp;moins d'espace disque et chargement plus rapide&hairsp;—&hairsp;en trouvant les meilleurs paramètres de compression et en retirant les commentaires inutiles et les profils couleur
{% endblock %}
{% block downloadbutton %}
{{"Download"|t}}
{% endblock %}
{% block otherbutton %}
Pas sur Mac?
{% endblock %}
{% block requirements %}
OS X 10.8+. <a href="https://github.com/ImageOptim/ImageOptim">Gratuit et Open-Source</a>. <a href="/donate.html">Faire un don</a>.
{% endblock %}

{% block body %}
<section class="sidebarcontainer">
    {% set sidebarDownload = false %}
    {% set sidebarLangs = true %}
    {% include "pages/_sidebar.html" %}

    <p class="about-tools">ImageOptim propose une <abbr title="Graphical User Interface">GUI</abbr> avec différents outils d'optimisation: <a class="reference" href="http://advancemame.sourceforge.net/doc-advpng.html">Adv<abbr>PNG</abbr></a> d'<a class="reference" href="http://advancemame.sourceforge.net/comp-readme.html" >Advance<abbr>COMP</abbr></a>, <a class="reference" href="http://optipng.sourceforge.net/" >Opti<abbr>PNG</abbr></a>, <a class="reference" href="http://pmt.sourceforge.net/pngcrush/" >Pngcrush</a>, <a class="reference" href="https://www.kokkonen.net/tjko/projects.html" >JpegOptim</a>, jpegtran de libjpeg, <a class="reference" href="https://www.lcdf.org/gifsicle/" >Gifsicle</a> et en option <a class="reference" href="http://www.advsys.net/ken/util/pngout.htm" ><abbr>PNGOUT</abbr></a>.</p>
   <p>C'est excellent pour publier des images sur le web (plus efficace que le “Sauver pour le Web” de Photoshop) et utile pour réaliser des applications Mac et Iphone plus petites.</p>

   <h2 id="sec40">Comment l'utiliser</h2><p>En faisant un simple glisser-déposer de vos images sur la fenêtre!
   Vous pouvez aussi déposer les fichiers sur l'icône du Dock ou bien le démarrer avec <a href="/command-line.html">le script shell</a> <code style="white-space:nowrap" translate="no" class="notranslate" lang="zxx">open -a ImageOptim.app *.png</code>.</p>

   <h2 id="sec20">Open Source</h2><p>ImageOptim est un logiciel gratuit et open-source sous licence <a class="reference" href="https://www.gnu.org/licenses/gpl-2.0.txt" >GPL v2</a>. <strong>Vos contributions sont les bienvenues!</strong> Récupérez <a href="https://github.com/pornel/ImageOptim" >le code source</a> et <a href="https://github.com/pornel/ImageOptim/issues">améliorez-le</a>! N'hésitez pas à {{contact("me contacter")}} pour toute assistance.</p>

    <h2>A propos du <abbr>PNG</abbr></h2>
    <p>Mon article “<a href="http://calendar.perfplanet.com/2010/png-that-works/"><abbr>PNG</abbr> that works</a>” explique comment ImageOptim retire les informations gamma et comment obtenir des fichiers PNG encore plus petits avec une transparence compatible sur les vieilles versions d'<abbr>IE</abbr>.</p>

    <h2>In English (sorry!)</h2>
    <ul>
      <li><a href="/howto.html">Usage instructions</a>
      <li><a href="/mac">Features</a> and <a href="/mac#faq">FAQ</a>
      <li><a href="/color-profiles.html">About color profiles</a>
    </ul>

</section>
{% endblock %}
