{% set title = "ImageOptim — how to use" %}
{% extends "pages/_subpage.html" %}
{% block main %}
{% block extrastyles %}
    <style>
    .imagesteps img {max-width: 100%;}
    p.win {display: none;}
    .os-not-mac p.win {display: block; color: red; font-weight: bold;}
    .imagesteps {text-align: center}
    .imagesteps img {vertical-align: middle}
    table.icons td, table.icons th {padding: 0.2em;vertical-align: top}
    table.icons th {padding-top: 0.4em}
    </style>
{% endblock %}
    <section>
        <h2 id="downloading">Download and installation</h2>
        <p class="win">These instructions are only for the Mac version of ImageOptim. <a href="/versions">See version for your system</a>.</p>
        <ol>
            <li><a download rel="nofollow" href="/ImageOptim.tbz2"><strong>Download</strong> ImageOptim archive</a> — it should download within seconds.</li>
            <li><strong>Open</strong> the downloaded archive (double-click the ImageOptim.tbz2 file after it finishes downloading) — it will reveal ImageOptim.app.</li>
            <li>Then drag the <strong>ImageOptim.app</strong> icon to Applications, and open it from there.</li>
        </ol>

        <p class="imagesteps">
            <a download rel="nofollow" href="/ImageOptim.tbz2"><img width="104" src="DownloadArchive.png" alt="Click ImageOptim archive in Finder"/></a>
⇢
    <img onclick="alert('Look for ImageOptim in Downloads folder on your computer')" width="107" src="ImageOptimIconSelected.png" alt="Then click app icon"/>
⇢
    <img width="77" style="padding-top:9px" src="ApplicationsIcon.png" alt="Then click app icon"/>

</p>
    </section>
    <section id="usage" class="nexttosidebar">
        <h2>Usage</h2>
        <p>After launching ImageOptim.app, drag'n'drop images into its window (if&nbsp;drag'n'drop is not convenient for you, you can press the <samp>[+]</samp> button in the bottom-left corner instead).</p>
        <p class="imagesteps">
        <img width="419" style="box-shadow: 0 4px 40px rgba(0,0,0,.05); margin: 1em auto; border: 1px solid rgba(0,0,0,.15); border-radius: 5px;" src="DropArea.png" alt="Empty space in the main window" />
        </p>
        <p><strong>Files are saved automatically</strong>. There are no new files generated — the files you drop are optimized in-place.</p>
        <p>ImageOptim overwrites the files with their optimized versions. This is safe, because ImageOptim preserves image quality. If you're not comfortable with that, you can create copies of the files before dropping them into ImageOptim. Also, as a precaution, ImageOptim puts original files in the Trash, so you can easly restore them if you ever need to.</p>
        <p>Depending on the number and sizes of the files it can take a few seconds or even minutes to process them.</p>
        <p>Icons next to the file show optimisation status:</p>
        <table class="icons">
            <tr><th><img width="16" src="progress.png" alt="Busy gray spinner" /></th><td>= working, please wait (if it takes too long, you can select the file and choose menu <samp>File</samp> › <samp>Stop</samp>).</td></tr>
            <tr><th><img width="16" src="noopt.png" alt="Green X" /></th><td>= the file is optimal already, so it hasn't been changed. That's normal if you've run ImageOptim on this file before.</td></tr>
            <tr><th><img width="16" src="ok.png" alt="Green checkmark" /></th><td> = Success! The file has been optimized and saved.</td></tr>
        </table>

        <p>Note that optimizations apply to a particular file. If you change the optimized file (e.g. edit the image or resize it) then you'll need to optimize it again.</p>
    </section>

    <section>
        <h2 id="metadata">Preserving metadata (EXIF, GPS info) and color profiles</h2>
        <p>By default ImageOptim removes invisible metadata from images, such as EXIF camera information and color profile.</p>
        <p>If you want to keep digital camera information (such as GPS position or exposure), or you'd like to keep <a href="/color-profiles.html">color profles</a> (to prevent slight shift in color brightness or saturation if images come from an unusual device), or you want to keep authorship information you've embedded in the files, then in <samp>Preferences</samp> disable stripping of metadata:</p>

        <p class="imagesteps"><img style="box-shadow: 0 4px 40px rgba(0,0,0,.1); margin: 1em auto; border: 1px solid rgba(0,0,0,.15); border-radius: 5px;" src="Prefs.png" width="442" /></p>

        <p>Metadata makes files larger. If you're publishing images on the Web, it's best to remove all metadata, because browsers either don't make use of it, or support it poorly.</p>
        <p>Currently, ImageOptim doesn't have option to only remove some types of metadata — it's all or nothing.</p>
    </section>


    <section>
        <h2 id="uninstall">Uninstalling ImageOptim</h2>
        <p>In case you don't like ImageOptim (sorry!), you can quit the app and drag ImageOptim.app to Trash. That's all you need to remove it. But I hope you'll <a href="/donate.html">like</a> ImageOptim :)</p>
    </section>
</div>
{% endblock %}
