{% set title = "ImageOptim — better Save for Web" %}
{% set largeHeader = true %}
{% extends "pages/_layout.html" %}
{% block styles %}
{# none (all inline) #}
{% endblock %}
{% block head %}
<meta name="og:description" content="A free app that makes images load faster and take less disk space, without sacrificing quality. Removes private EXIF data from photos and improves compression." />
<meta property="og:determiner" content="the" />
<meta property="og:type" content="product" />
<meta property="product:price:amount" content="0" />
<meta property="product:price:currency" content="USD" />

{% if lang != 'en' %}<link rel="alternate" hreflang="en" href="/">{% endif %}
{% if lang != 'pl' %}<link rel="alternate" hreflang="pl" href="/pl.html">{% endif %}
{% if lang != 'be' %}<link rel="alternate" hreflang="be" href="/be.html">{% endif %}
{% if lang != 'fr' %}<link rel="alternate" hreflang="fr" href="/fr.html">{% endif %}
{% if lang != 'pt-br' %}<link rel="alternate" hreflang="pt-br" href="/pt-br.html">{% endif %}
{% if lang != 'pt-pt' %}<link rel="alternate" hreflang="pt-pt" href="/pt.html">{% endif %}

{% endblock %}
{% block body %}

<section id="features">
<section>
<h2>Faster web pages and apps</h2>
<p><strong>Reduces image file sizes</strong>&hairsp;—&hairsp;so they take up less disk space and down&shy;load faster&hairsp;—&hairsp;by applying advanced compression that preserves&nbsp;quality.</p>
</section>
<section>
<h2>Image files scrubbed clean</h2>
<p><strong>Removes invisible junk</strong>: private <abbr>EXIF</abbr> meta&shy;data from digital cameras, embedded thumbnails, comments, and unnecessary <a class="reference" href="/color-profiles.html">color&nbsp;profiles</a>.</p>
</p>
</section>
<section>
<h2>Best tools with drag'n'drop</h2>
<p>Seamlessly combines all the best image optimization tools: <a class="reference" href="http://calendar.perfplanet.com/2014/mozjpeg-3-0/">MozJPEG</a>, <a class="reference" href="http://pmt.sourceforge.net/pngcrush/" >Pngcrush</a>, <a class="reference" href="https://pngquant.org">pngquant</a>, <a class="reference" href="http://advancemame.sourceforge.net/doc-advpng.html">7zip</a> and <a class="reference" href="https://googledevelopers.blogspot.co.uk/2013/02/compress-data-more-densely-with-zopfli.html">Google Zopfli</a>. <strong>All Free and Open-Source</strong>.</p>
</section>
</section>

<section class="quotes">
<div>
<blockquote>
 <p>&ldquo;The app works efficiently, it’s brain-dead simple to use, and&nbsp;it&nbsp;does just what it promises&rdquo;
 <cite>—&nbsp;<a href="http://www.macworld.com/article/1168044/shrink_image_file_sizes_with_imageoptim.html">MacWorld</a></cite></p>
</blockquote>

<blockquote>
    <p>&ldquo;Basically, ImageOptim works like magic, cutting down the size of images without making them look worse&rdquo; <cite>—&nbsp;<a href="https://www.macstories.net/roundups/my-must-have-mac-apps-2012-edition/">MacStories</a></cite></p>
</blockquote>
</div>
</section>

<section class="sidebarcontainer">
    {% set sidebarDownload = true %}
    {% set sidebarLangs = true %}
    {% include "pages/_sidebar.html" %}

    <p class=warning>The latest <a href=/changelog.html>beta build</a> contains the new <a class=reference href="https://www.dpreview.com/news/3002172137/google-guetzli-is-an-open-source-jpeg-encoder-that-creates-35-smaller-files">Google Guetzli</a> JPEG encoder! <a download rel="nofollow" href="/ImageOptim{{betaVersion}}.tar.bz2">Try it now</a></p>

    <p><span class="brand">ImageOptim</span> is excellent for publishing images on the web (easily shrinks images “Saved for Web” in&nbsp;Photoshop). It's&nbsp;useful&nbsp;for making Mac and <a href="/tweetbot.html">iPhone</a>/<a href="/ipad.html">iPad</a> applications smaller (if you <a href="/xcode.html">configure Xcode</a> to allow better optimization).</p>
    <p>ImageOptim removes <abbr>EXIF</abbr> meta&shy;data, such as <abbr>GPS</abbr> position and camera's serial number, so that you can publish images without exposing private information (but there's an option to keep the meta&shy;data if you need it).</p>


    <section id="howto" class="nexttosidebar">
        <h2>How does it work?</h2>
        <p>When you <strong>drag'n'drop</strong> images into ImageOptim's window it will run several image optimization tools automatically and combine their results, ensuring that you always get the smallest file.</p>
        <p>See <a href="/howto.html">installation and usage instructions</a>.</p>
        <p>ImageOptim integrates well with <abbr>macOS</abbr>, so you can also drop files on ImageOptim's Dock icon, or use <samp>Services</samp> menu in Finder, or <samp>Markup</samp> menu on attached images in Apple Mail. ImageOptim can also be launched from <a href="/command-line.html">command line</a> or <a href="/sketch">Sketch</a>.
        </p>
        <section id="lossy">
            <h3>A special option for even smaller files</h3>
            <p>If you enable <samp>Lossy minification</samp> you'll get smallest file sizes possible.</p>
            <p>By default ImageOptim is very cautious and exactly preserves image quality, but if you allow it to change the quality&hairsp;—&hairsp;even only a little&hairsp;—&hairsp;it will be free to use much more aggressive optimizations that give the biggest results. You can configure lossy optimizations in ImageOptim's <samp>Preferences</samp>. ImageOptim can apply lossy compression not only to <abbr>JPEG</abbr>, but <a href="https://kornel.ski/lossygif">anim <abbr>GIF</abbr></a> and <a href="https://pngmini.com/lossypng.html"><abbr>PNG</abbr> as well</a>!</p>
        </section>
    </section>

    <section id="opensource">
        <h2>Open Source</h2><p>ImageOptim is free, open-source soft&shy;ware under terms of the <a class="reference" href="https://www.gnu.org/licenses/gpl-2.0.txt" >GPL v2 or later</a>. You can fork <a href="https://github.com/pornel/ImageOptim">the code on GitHub</a> and <a href="https://github.com/pornel/ImageOptim/issues">improve&nbsp;it</a>! Feel free to {{ contact("contact me", "ImageOptim code") }} for assistance.</p>

        <aside class="sponsor">ImageOptim is sponsored by <a href="https://www.psw-group.de"><b>PSW</b>&nbsp;GROUP</a>. If you need an <abbe>SSL</abbe> certificate they have a special discount for ImageOptim users! Use the code <code>IMAOPT10</code>.</aside>

        <p class="about-pngout"><abbr>PNGOUT</abbr> is bundled with permission of <a href="http://www.ardfry.com">Ardfry Imaging, <abbr>LLC</abbr></a> and is not covered by the <abbr>GPL</abbr>.</p>
    </section>

    <section id="faq">
        <h2>Frequent answers</h2>
        <dl>
            <dt id="tinypng">How does ImageOptim compare to TinyPNG and JPEGMini?</dt>
            <dd>
                <p>Tools like <a onclick="ga('send', 'event', 'pngmini', 'click', 'faq');" class="reference" href="https://pngmini.com">ImageAlpha</a>/<a class="reference" href="https://pngquant.org">pngquant</a>/<a class="reference" rel="nofollow" href="https://tinypng.com">TinyPNG</a><wbr>/<a class="reference" rel="nofollow" href="http://jpegmini.com">JPEGMini</a>/<a class="reference" href="/mozjpeg">MozJPEG</a> make files smaller by using <strong>lossy</strong> compres&shy;sion which <strong>lowers image quality</strong>.</p>
                <p>If you enable <samp>Lossy minification</samp> option in ImageOptim you will get the same (or better) savings as the other tools.</p>
            </dd>
            <dt id="metadata">Can I keep embedded copyright, camera information?</dt>
            <dd><p>Yes. Uncheck <samp>Strip JPEG metadata</samp> in <a href="/howto.html#metadata">Preferences</a>.</p></dd>
            <dt id="speed">It's slow on <abbr>PNG</abbr> files. How can I make it faster?</dt>
            <dd><p>In preferences uncheck <samp>PNGOUT</samp> and <samp>Zopfli</samp>. Without these tools optimiza&shy;tion will run much quicker, but will be a&nbsp;bit less effective.</p></dd>
            <dt id="appstore">Will ImageOptim be in the App Store?</dt>
            <dd>
                <p>No, and please beware of knock-offs in the App Store! Apple's has been selling three already.</p>
                <p>ImageOptim is given for free on terms that basically say “you can do what&shy;ever you want <em>except taking this freedom away from others</em>”. Apple <a href="https://www.fsf.org/blogs/licensing/more-about-the-app-store-gpl-enforcement">does not allow such permissive terms</a>. Apple requires all App Store users to accept <abbr title="Digital Restrictions">DRM</abbr> (copy protection) and legal restrictions in the iTunes <abbr title="License Agreement">EULA</abbr>.</p>
                <p>You can get ImageOptim <a download rel="nofollow" href="/ImageOptim.tbz2" class="reference">here</a>, <abbr>DRM</abbr>-free. Its license allows you to share it, modify it, use it in any country in the world&hairsp;—&hairsp;even sell it&hairsp;—&hairsp;if you don't forbid anybody else from doing the same.</p>
                <p>You can <a href="donate.html">donate to support the project</a>.</p>
            </dd>
        </dl>
    </section>
</section>
<section id="newsletter">
    <form method="post" action="/subscribe.html">
        <h2>Subscribe to an occasional newsletter</h2>
        <p>Pro tips about ImageOptim, <a class="reference" href="https://pngmini.com">ImageAlpha</a> and image formats in general. News about upcoming features and access to preview versions of apps&nbsp;I&nbsp;develop.</p>
        <div>
        <p><label for="newsletter-email">Your e-mail address:</label>&nbsp;<nobr><input id="newsletter-email" type="email" name="email" required="required" placeholder="name@example.com">&nbsp;<input type="submit" value="Subscribe" /></nobr></p>
        </div>
    </form>
</section>
{% endblock %}

{% block footerextra %}
<span>App icon by <a href="https://icons8.com">icons8</a>.</span> <a href="https://github.com/ImageOptim/ImageOptim">GitHub project</a>.
{% endblock %}

{% block bodyend %}
<script>{% include "pages/_newsletter.js" %}</script>
{% include "pages/_thanks.html" %}
{% endblock %}
