{% set title = "ImageOptim — optymalizator grafik" %}
{% set largeHeader = true %}
{% extends "pages/_layout.html" %}
{% block styles %}
{# inline only #}
{% endblock %}
{% block head %}
<link rel="alternate" hreflang="en" href="/mac">
{% endblock %}
{% block topMacApp %}
<span>Dla</span> Mac
{% endblock %}

{% block h2 %}
<span class="brand">ImageOptim</span> przyśpiesza ładowanie obrazków
{% endblock %}
{% block h2sub %}
Usuwa zbędne metadane. Oszczędza miejsce na dysku i dane w sieci kompresując grafiki bez straty jakości.
{% endblock %}
{% block downloadbutton %}
Pobierz <span class="not-mac">dla Mac</span> <span class="mac-only">za darmo</span>
{% endblock %}
{% block otherbutton %}
<span class="not-mac">Zobacz inne</span>
<span class="mac-only">Wszystkie</span> wersje
{% endblock %}
{% block requirements %}
Wymaga OS X 10.8+. To jest <a href="https://github.com/ImageOptim/ImageOptim">Wolne Oprogramowanie</a>. <a href="/donate.html">Wesprzyj projekt</a>.
{% endblock %}


{% block body %}
<section class="sidebarcontainer">
    {% set sidebarDownload = false %}
    {% set sidebarLangs = true %}
    {% include "pages/_sidebar.html" %}
   <p><b class="lede">ImageOptim zmniejsza rozmiar plików na dysku przez dobranie optymalnych parametrów kompresji oraz usuwanie niepotrzebnych informacji z plików, jak komen­tarze, informacje EXIF i <a href="/color-profiles.html">profile kolorów</a>. Obsługuje obrazki w formatach <abbr>PNG</abbr>, <abbr>JPEG</abbr> oraz animacje <abbr>GIF</abbr>.</b></p>

    <p class="about-tools">ImageOptim korzysta z: <a class="reference" href="http://www.advsys.net/ken/util/pngout.htm" ><abbr>PNGOUT</abbr></a>, <a class="reference" href="http://advancemame.sourceforge.net/doc-advpng.html">Adv<abbr>PNG</abbr></a> z <a class="reference" href="http://advancemame.sourceforge.net/comp-readme.html" >Advance<abbr>COMP</abbr></a>, rozszerzonego <a class="reference" href="http://optipng.sourceforge.net" >Opti<abbr>PNG</abbr></a>, <a class="reference" href="http://pmt.sourceforge.net/pngcrush/" >PngCrush</a>, <a class="reference" href="http://www.kokkonen.net/tjko/projects.html" >JpegOptim</a>, jpegtran, jpegrescan oraz <a class="reference" href="http://www.lcdf.org/gifsicle/" >Gifsicle</a>.</p>
   <p>Program pomocny jest przy publikowaniu grafik w Internecie (z łatwością zmniejsza grafiki z Photoshopa zapisane przez „Zapisz dla Internetu i urządzeń”) oraz pomaga zmniejszyć wielkość aplikacji dla Maca i iPhone'a (<a href="/xcode.html">uwaga na Xcode</a>).</p>

    <section id="howto">
        <h2>Sposób użycia</h2><p>Wystarczy przeciągnąć obrazki do okna programu. Możesz także przeciągnąć je na ikonę programu w Docku albo uruchamiać ze <a href="/command-line.html">skryptów</a> za pomocą <code class="notranslate" style="white-space:nowrap" translate="no" lang="zxx">open -a ImageOptim.app *.png</code>.</p>

        <p><a href="/howto.html">Instrukcje instalacji i użycia</a>.</p>
    </section>

    <section id="opensource">
     <h2>Wolne Oprogramowanie</h2><p>ImageOptim jest darmowym, wolnym oprogramowaniem (open-source) i może być roz­pro­wadzany na warunkach <a class="reference" rel="license" href="https://www.gnu.org/licenses/gpl-2.0.txt" >GPL v2</a> (<a class="reference" href="http://gnu.org.pl/text/licencja-gnu.html">pl</a>). <strong>Pomóż w rozwijaniu programu!</strong> Pobierz <a href="https://github.com/ImageOptim/ImageOptim" >kod źródłowy</a> i <a href="https://github.com/ImageOptim/ImageOptim/issues">ulepsz go</a>! Bardzo chętnie pomogę&hairsp;–&hairsp;{{contact("skontaktuj się ze mną", "Pytanie o ImageOptim")}}.</p>

     <aside>
     <p class="about-pngout"><abbr>PNGOUT</abbr> został dołączony za pozwoleniem Ardfry Imaging LLC i nie jest objęty GPL.</p>
     </aside>

     </section>
     <section id="more" class="nexttosidebar">
         <h2>Więcej o PNG</h2>
         <p>Przeczytaj moje artykuły <a href="https://kornel.ski/pnghowto"><abbr>PNG</abbr> – Jak i dlaczego używać</a> oraz <a href="https://kornel.ski/png"><abbr>PNG</abbr> that works</a>, które wyjaśniają dlaczego ImageOptim usuwa informacje o gammie oraz jak uzyskać jeszcze mniejsze pliki <abbr>PNG</abbr>, które zachowują przezroczystość w nawet starych wersjach <abbr>IE</abbr>.</p>
     </section>


</section>
<section id="newsletter">
    <form method="post" action="/subscribe.html">
        <h2>Zapisz się na newsletter</h2>
        <p>Po angielsku: tipsy o ImageOptim, <a class="reference" href="https://pngmini.com">ImageAlpha</a> i formatach grafiki. Nowości o nadchodzących wersjach moich programów.</p>
        <div>
        <p><label for="newsletter-email">Twój adres e-mail:</label>&nbsp;<nobr><input id="newsletter-email" type="email" name="email" required="required" placeholder="imie@example.com" />&nbsp;<input type="submit" value="Zapisz"></nobr></p>
        </div>
    </form>
</section>
{% endblock %}


{% block footerextra %}
<span>Ikona wykonana przez <a href="https://icons8.com">icons8</a>.</span> <a href="https://github.com/ImageOptim/ImageOptim">Projekt na GitHubie</a>.
{% endblock %}

{% block bodyend %}
<script>{% include "pages/_newsletter.js" %}</script>
{% include "pages/_thanks.html" %}
{% endblock %}
