{% set title = "ImageOptim plugin for Sketch app" %}
{% extends "pages/_layout.html" %}

{% block body %}
<section class="sidebarcontainer">
    {% set sidebarDownload = false %}
    {% set sidebarLangs = false %}
    {% include "pages/_sidebar.html" %}
    <main>
        <section id="sketch">
        <h2>Plugin for <a href="https://sketchapp.com/"><img src="/sketch.png" style="width:1em;height:1em;vertical-align: -5%;margin-right: 2px;">Sketch</a></h2>
        <p>Automatically compresses images exported from Sketch with ImageOptim.</p>
        <p>To install the plugin:</p>
        <ol>
            <li><strong><a download href="https://github.com/ImageOptim/Sketch-plugin/blob/master/dist/ImageOptim.sketchplugin.zip?raw=true">Download the plugin</a></strong></li>
            <li>Unarchive <code>ImageOptim.sketchplugin.zip</code></li>
            <li>Open <code>ImageOptim.sketchplugin</code></li>
        </ol>
        <p>The plugin requires <a href="/mac">ImageOptim.app</a> to be <a href="/howto.html">installed</a>.</p>
        <p>This plugin is <a href="https://github.com/ImageOptim/Sketch-plugin">Free and Open-Source</a>.</p>
        </section>
    </main>
</section>
{% endblock %}
