{% set title = "ImageOptim alternatives for Windows and Linux" %}
{% extends "pages/_layout.html" %}
{% block body %}
<main>
<h2>ImageOptim for various platforms</h2>
<div class="platforms">
<section id="windows">
<h3>Windows</h3>
<p>The ImageOptim app only works on Macs&nbsp;(sorry!), but you can achieve similar compression with some other tools:</p>
<ul>
    <li><a href="http://nikkhokkho.sourceforge.net/static.php?page=FileOptimizer">FileOptimizer</a> (<a download href="http://nikkhokkho.sourceforge.net/images/FileOptimizerSetup.exe">Download</a>) — supports many file formats, and it's Free and Open&nbsp;Source.</li>
    <li><a href="/mozjpeg">Online interface for MozJPEG</a> — a JPEG compressor that produces smaller, higher quality files. The web interface works with any system.</li>
    <li><a href="https://pngquant.org/#download">pngquant</a> — lossy PNG compressor. It&nbsp;has some Windows-compatible GUI apps and Photoshop plug-ins available.</li>
</ul>
</section>
<section id="linux">
<h3>Linux</h3>
<ul>
    <li><a href="https://trimage.org">Trimage</a> (GUI) — similar to ImageOptim and uses many of the same lossless tools under the hood.</li>
    <li><a href="/mozjpeg">Online interface for MozJPEG</a> — a JPEG compressor that produces smaller, higher quality files. The web interface works with any system.</li>
</ul>
<h4>Command-line</h4>
<p>With these tools and a bit of a glue code you can build your own image optimizer:</p>
<ul class="commandline">
    <li><a href="https://pngquant.org">pngquant</a> — lossy PNG compressor.</li>
    <li><a href="https://github.com/google/zopfli">Zopfli</a>, <a href="http://www.jonof.id.au/kenutils">PNGOUT</a> — the most efficient lossless PNG compressors.</li>
    <li><a href="http://www.advancemame.it/doc-advpng.html">AdvPNG</a> — a PNG compressor with a decent speed.</li>
    <li><a href="https://github.com/mozilla/mozjpeg">MozJPEG</a> — includes lossless <code>jpegtran</code>.</li>
    <li><a href="https://kornel.ski/lossygif">Lossy Gifsicle</a> — a fork of Gifsicle with heavier compression.</li>
</ul>
</section>
<section id="osx">
<h3>Older Mac OS X</h3>
<p>If you use a Mac that is more than 6 years old, or haven't updated OS&nbsp;X in the last couple of years, you'll need an older version of ImageOptim:</p>
<ul>
    <li><a download rel="nofollow" href="/ImageOptim1.5.4.tar.bz2">ImageOptim for Mac OS&nbsp;X&nbsp;10.6</a> (Snow&nbsp;Leopard, 2009). Works on <strong>64-bit Intel Macs only</strong>.</li>
    <li><a download rel="nofollow" href="/ImageOptim1.2.5.tar.bz2">ImageOptim for Mac OS&nbsp;X&nbsp;10.5</a> (Leopard,&nbsp;2007). Universal app that supports <strong>32-bit Intel, and PowerPC</strong>.</li>
    <li><a download rel="nofollow" href="/ImageOptim1.0.10.tar.bz2">ImageOptim for Mac OS&nbsp;X&nbsp;10.4</a> (Tiger,&nbsp;2005).</li>
    <li><a href="/changelog.html">All other Mac versions</a></li>
</ul>
</section>
</div>
</main>
{% endblock %}
